body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.2;
	color: #333333;
	background-color: white;
}

space\:grid div {
	display: table;
	font-family: emoji;
	font-size: 30px;
}

space\:gridrow {
	display: table-row;
}

space\:cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	width: 3em;
	height: 3em;
}