body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12pt;
	line-height: 1.2;
	color: #333333;
	background-color: white;
	text-align: center;
}

space\:game h2 {
	color: green;
	font-family: monospace;
}

space\:grid {
	display: inline-block;
	border: 0.1em dashed silver;
}

space\:grid div {
	display: table;
	margin-left: auto;
	margin-right: auto;
	font-family: emoji;
	font-size: 22px;
}

space\:gridrow {
	display: table-row;
}

space\:cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	width: 3em;
	height: 3em;
}

space\:modalbox {
	position: absolute;
	left: calc(50% - 11em);
	top: 5em;
	width: 20em;
	height: 6em;
	padding: 1em;
	border: 0.5em solid green;
	background-color: yellowgreen;
	font-size: 14pt;
	text-align: center;
}

input {
	padding: 0.5em;
	margin: 0.25em;
	background-color: lightgreen;
	border: 2px solid green;
	border-radius: 3px;
	font-size: 14pt;
	cursor: pointer;
}