body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.2;
	color: #333333;
	background-color: white;
}

space\:grid > pre {
	font-family: emoji;
	padding-left: 4px;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 8px;
}
